@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
}

.font-weight-medium {
    font-weight: 500;
}

.border-radios {
    border-radius: 20px;
}

/*menu*/

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7B8BB4;
    padding: 4vh 16vw;
    min-height: 12vh;
}

.logo-tipo {
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
}

.search-box {
    background-color: #FFF;
    border-radius: 8px;
}

.search-box input {
    padding: 8px;
    border: none;
    background: none;
    width: 20vw;
}

.search-icon img {
    color: #000;
    width: 24px;
    height: 100%;
    vertical-align: middle;
    margin: 8px;
}

/*main*/

main {
    margin: 8vh 16vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #FFF;
}

.base-info {
    margin-bottom: 4vh;
    flex-basis: 100%;
    color: #000;
}

.city-name {
    font-weight: 500;
}

.date {
    font-size: 16px;
}

.weather-card {
    background-color: #7B8BB4;
    flex-basis: 38%;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.weather-card .temperature {
    font-size: 48px;
}

.weather-card .weather-icon {
    width: 42%;
}

.weather-infos {
    background-color: #7B8BB4;
    flex-basis: 58%;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.weather-infos p {
    flex-basis: 40%;
}

.weather-forecast {
    margin-top: 4%;
    width: 100%;
    position: relative;
}

.weather-forecast .forecast-card {
    background-color: #7B8BB4;
    width: 16.8%;
    flex-shrink: 0;
    padding: 15px;
    margin-right: 4%;
    text-align: center;
}

.weather-forecast .forecast-card img {
    width: 88%;
}

.weather-forecast .forecast-card p {
    font-size: 20px;
    display: inline;
}

.weather-forecast .forecast-card .min {
    color: #D7DCE9;
    margin-left: 2vw;
}


.weather-forecast .track {
    display: flex;
    overflow: hidden;
}

.nav button {
    width: 32px;
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav .prev {
    left: -8%;
}

.nav .next {
    right: -8%;
}

footer {
    background-color: #7B8BB4;
    height: 30px;
}